h1,h2,h3,h4,h5,h6,legend {
font-family: 'Big Shoulders Display';
}

/* semantic html */
article,aside,body,details,
figcaption,figure,
footer,header,main,
mark,nav,section,
summary,time{
  font-family: 'Roboto';
  margin:0;
}

/* block-level elements */
address,blockquote,canvas,
dd,div,dl,dt,fieldset,form,
hr,li,noscript,ol,p,table,
tfoot,ul,video,option,optgroup{
  font-family: 'Roboto';
}

/* inline elements */
a,abbr,b,bdo,br,
button,cite,dfn,i,img,input,
label,map,object,output,q,
select,small,span, strong,
sub,sup,textarea{
  font-family: 'Roboto';
}

/* addition elements, no change */
code,em,kbd,pre,samp,var{
}

header{
  background-color: #333;
  position: fixed;
  top: 0;
  margin: 0;
  width: 100%;
  transition: top 0.3s
}

header nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header nav ul li {
  display: inline-block;
  color: white;
}

header nav ul li a{
  display: inline-block;
  text-align: center;
  padding: 19px 30px;
  text-decoration: none;
  color: inherit;
}

header nav ul li:hover{
  background-color: white;
  color: black;
}

main{
  margin-top: 60px;
}
