:root {
  --c146-3x4-0: rgba(18,10,48,1);
  --c146-3x4-1: rgba(37,21,94,1);
  --c146-3x4-2: rgba(72,43,179,1);
  --c146-3x4-3: rgba(14,144,204,1);
  --c146-3x4-4: rgba(14,204,179,1);
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

body {
  padding: 7vw 7vw;
}

#top-nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 7rem;
  margin-bottom: 7vw;
}

#top-nav a {
  display: flex;
  align-items: center;
  justify-content: center;
}

#wb-logo {
  height: 89%;
  width: 10vw;
}

#hamburger {
  height: 90%;
  width: 10vw;
}

#close {
  height: 90%;
  width: 10vw;
  z-index: 5;
}

#primary-navegation {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  z-index: 4;
  background-color: rgba(0,0,0,0.8);
  overflow-x: hidden;
  transition: 0.5s;
}

.primary-navegation-content {
  margin: auto;
  list-style-type: none;
  position: relative;
  top: 25%;
  width: 25%;
  font-size: 500%;
  text-align: center;
  margin-top: 30px;
  font-weight: 300;
}

.primary-navegation-content li a {
  font-size: 110%;
  color: var(--c146-3x4-3);
  transition: 0.7s;
  padding-bottom: 40px;
}

.primary-navegation-content li a:hover,
.primary-navegation-content li a:focus {
  color: var(--c146-3x4-4);
}

h1,h2,h3,h4,h5,h6 {
  color: var(--c146-3x4-4);
}

p {
  color: var(--c146-3x4-0); 
  font-weight: 300;
}

p a {
  color: var(--c146-3x4-3);
  border-style: none none solid none;
  border-width: 5px;
  border-color: var(--c146-3x4-4);
}

h1 {
  font-size: 64px;
  font-weight: 400;
  padding: 20px 0 60px 0;
}

p {
  font-size: 28px;
  font-weight: 300;
}

.hero {
  width: 100%;
  height: auto;
  margin: 50px 0;
  border-radius: 25px;
}
