:root {
  --color-bg: rgba(0,0,0,1);
  --color-card: rgba(255,255,255,1);
  --color-text: rgba(255,0,0,1);
  --color-text-important: rgba(255,0,255,1);
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: var(--color-text);
    background-color: var(--color-bg);
}


h1 {
}
