:root {
  /* root font-size */
  font-size: 100%;

  /* colors */
  --c146-3x4-0: rgba(18,10,48,1);
  --c146-3x4-1: rgba(37,21,94,1);
  --c146-3x4-2: rgba(72,43,179,1);
  --c146-3x4-3: rgba(14,144,204,1);
  --c146-3x4-4: rgba(14,204,179,1);

  /***********************************************\
  |* font sizes, relative to the root font-size  *|
  |* these are based on the following formula    *|
  |*                                             *|
  |*   φ = 1.61803398875...                      *|
  |*   h1 = φ^(3/2)                              *|
  |*   h_n = h1 * φ^( -(n-1)/2 )                 *|
  |*                                             *|
  |*   thus, for h3: h1 * φ^(-(3-1)/2 ) = 1.272  *|
  |*                                             *|
  |*   h_n is the function to get the value of   *|
  |*   dividing a number, h1, by sqrt of         *|
  |*   another number, φ, n times.               *|
  |*                                             *|
  \***********************************************/

  --h00-font-size: 3.3302rem;
  --h0-font-size: 2.6180rem;
  --h1-font-size: 2.0582rem;
  --h2-font-size: 1.6180rem;
  --h3-font-size: 1.2720rem;
  --h4-font-size: 1.000rem;
  --h5-font-size: 0.7862rem;
  --h6-font-size: 0.6180rem;
  --h7-font-size: 0.4859rem;
  --h8-font-size: 0.3820rem;
  --h9-font-size: 0.3003rem;
  --h10-font-size: 0.2361rem;
  --h11-font-size: 0.1856rem;
  --h12-font-size: 0.1459rem;
  --h13-font-size: 0.1147rem;
  --h14-font-size: 0.0902rem;
}

* {
    margin:0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--c146-3x4-0); 
}

a {
  text-decoration: none;
}

body {
  padding: 7vw 7vw;
}

#top-nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: var(--h0-font-size);
  margin-bottom: var(--h2-font-size);
}

#top-nav a {
  display: flex;
  align-items: center;
  justify-content: center;
}

#wb-logo {
  height: 90%;
  width: 10vw;
}

#hamburger {
  height: 90%;
  width: 10vw;
}

#close {
  height: 90%;
  width: 10vw;
  z-index: 5;
}

#primary-navegation {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  z-index: 4;
  background-color: rgba(0,0,0,0.8);
  overflow-x: hidden;
  transition: 0.5s;
}

.primary-navegation-content {
  margin: auto;
  list-style-type: none;
  position: relative;
  top: 25%;
  width: 25%;
  text-align: center;
  margin-top: 30px;
  font-weight: 300;
}

.primary-navegation-content li a {
  font-size: var(--h1-font-size);
  padding-bottom: var(--h1-font-size);
  color: var(--c146-3x4-3);
  transition: 0.7s;
}

.primary-navegation-content li a:hover,
.primary-navegation-content li a:focus {
  color: var(--c146-3x4-4);
}

img {
  margin-top: var(--h4-font-size);
  margin-bottom: var(--h8-font-size);
}

h1,h2,h3,h4,h5,h6 {
  color: var(--c146-3x4-4);
}

p {
  font-weight: 300;
  font-size: var(--h4-font-size);
  margin-top: var(--h6-font-size);
  margin-bottom: var(--h8-font-size);
  line-height: var(--h2-font-size);
}

p a {
  color: var(--c146-3x4-3);
  border-style: none none solid none;
  border-width: var(--h13-font-size);
  border-color: var(--c146-3x4-4);
}

h1 {
  font-weight: 400;
  font-size: var(--h1-font-size);
  margin-top: var(--h3-font-size);
  margin-bottom: var(--h5-font-size);
  line-height: var(--h0-font-size);
}

h2 {
  font-weight: 400;
  font-size: var(--h2-font-size);
  margin-top: var(--h4-font-size);
  margin-bottom: var(--h6-font-size);
  line-height: var(--h1-font-size);
}

h3 {
  font-weight: 300;
  font-size: var(--h3-font-size);
  margin-top: var(--h4-font-size);
  margin-bottom: var(--h7-font-size);
  line-height: var(--h2-font-size);
}

h4 {
  font-weight: 400;
  font-size: var(--h4-font-size);
  margin-top: var(--h6-font-size);
  margin-bottom: var(--h8-font-size);
  line-height: var(--h3-font-size);
}

.hero {
  width: 100%;
  height: auto;
  border-radius: 25px;
}
